<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="1;URL=/">
    <% include common/head %>
</head>
<body class="container">
<header>
    <% include common/header %>
</header>

<main>
   <h4>Error</h4>
    <%= error %>
</main>

<footer><% include common/footer %></footer>
</body>
</html>