<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Scrapping</title>
<!-- Bootstrap core CSS -->
<link href="/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/components/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<!-- Bootstrap core JavaScript -->
<script src="/components/jquery/jquery-2.1.3.min.js"></script>
<script src="/components/bootstrap/js/bootstrap.min.js"></script>
<script src="/components/jquery/jquery-ui.min.js"></script>
